 

.navbar {
  background-color:#343551;
  position: fixed;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}


.navbar-nav .nav-link {
  color: #fff; 
}


  /* <!--   Header && Herosection  --> */
  body{
    position: relative;
    width: 100%;
    height: 100%;
   }

  #first{
    background-image: url("banner\ copy.jpg"); 
    padding-top: 50px;  
 }

.navbar-brand {
  font-weight: bold;
  color: white;
        text-align: right;
        justify-items: right;
}

     .navbar .navbar-nav .nav-item .nav-link {
      
     color: white;
     width: 100%;
        
      }
      .navbar .navbar-nav .nav-item {
        background-color: #343551 ;
       
      }


      .collapse {
        
        color:red; 
    }
.divider {
  border-top: 2px solid #464764;
  margin: 20px 0; 
  padding-top: 100px;
  text-align: center ;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}
.hero-content {
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}
.hero-content h1{
    font-weight: 700;
}
#hero-content .heading{
    margin-top: -15px;
}
.btn{

    display: inline-block;
    background-color:red;
   color: white;
   margin-top: 29px;
    padding: 10px 30px  10px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 0px;
  }
.container .hero-content .btn:hover{
    color: white;
}


/* <!--   Feature-section  --> */
      
      .icon {
        width: 45px; 
        height: 45px; 
        size: 1000px;
      }
  
 #container ,#section1,
#section2  {
  padding-left: 20px;
  padding-right: 20px;
  
}



/* Tablet */
@media (min-width: 768px) {
  #section1,
  #section2 {
    padding-left: 50px;
    padding-right: 50px;
  
  }
/* #container, */

#container #section1 h4 {
  
  font-size: 10px;
  font-weight:800;
}
#container #section2 h4 {
  
  font-size: 10px;
  font-weight:800;
}



/* Desktop */
@media (min-width: 992px) {
  #section1,
  #section2 {
    padding-left: 250px;
    padding-right: 250px;
  
  }

  #section1 h4,
  #section2 h4 {
    font-size: 20px;
  
  }
}

#section2{
  margin-top: -70px;
}
#container #section1 p { 
  color:   #7A7A7A; 
}
#container #section2 p { 
  color:   #7A7A7A; 
  
}


 /*   WORK-SECTION */
 
.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  transition: transform 0.3s ease;
  display: flex;

}

.image-container .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 20px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
  opacity: 1;
  background-color: #FF250070;
  width: 100%; 
   height: 180px;
}

.overlay h4,
.overlay p {
  margin-top: 20px;
  
}


.row {
  margin: -12px;
}

.col-md-3 {
  padding: 0px 0px;
}
.work1{
  margin-left: -110px;
  margin-right: -110px;
}
.work2{
  margin-left: -11px;
  margin-right: 1px;
  margin-top: -10px;
  padding-top: -10px;
}


/* Media queries for iPhone */
@media only screen and (max-width: 576px) {
  .work1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 676px) {
  .work2 {
    margin-left: 10;
    margin-right: 20;
    margin-top: -200px;
  }
}






                          /* <!--  TEAM-SECTION --> */
                       
                          #team {
                            display: flex;
                            justify-content:center;
                            gap: 20px; 
                            padding: 0 20px; 
                            margin-top: 70px;
                          }
                          #team h6{
                   color:red;
                   font-weight: 200 ;
                   justify-content: left;
                          }
                          #team h4{
                            font-weight: 300 ;
                                   }
                                   
                                   #team h4{
                                    font-size: 17px;
                                   }
                          
                          .image1,
.image2,
.image3,
.image4 {
  flex: 1;
  max-width: calc(17% - 20px); 
  text-align: start; 
}

.image1 img,
.image2 img,
.image3 img,
.image4 img {
  max-width: 100%; 
  height: auto; 
}
                         
                          
                         #team h4, h6, p {
                            margin: 5px 0;
                           
                          }

                          #team p {
                            margin: 5px 0;
                           color: #7A7A7A;
                          }
                        .container-icon {
                          display: flex;
                          justify-content:start; 
                          align-items: center; 
                          background-color: white;
                      
                        }
                    
                        .container-icon img {
                          width: 19px; 
                          height: auto;
                          background-color: white;
                          border-radius: white;
                      
                        }

                        .container-icon img:hover {
                          background-color: red;        
                              }
                        
                        /* Media queries for responsiveness */
                        @media (max-width: 767px) {
                          #team {
                            margin-top: 50px; 
                            display: grid;
                            margin-left: 50px;

                          }
                          
                          .image1,
                          .image2,
                          .image3,
                          .image4 {
                            max-width: calc(50% - 20px); 
                          }
                        }
                        
                        @media (max-width: 575px) {
                          #team {
                            padding: 0 10px;
                          }
                          
                          .image1,
                          .image2,
                          .image3,
                          .image4 {
                            max-width: calc(100% - 20px);
                          }
                        }
                        
                       
                        .container-icon img {
                          width: 25px; 
                          height: 20px;
                          
                        }
                        .container-icon img {
                          /* Set the color of all icons to white */
                          filter: invert(3);
                          background-color: white;
                          margin-right: 3px;
                        }
                
                        }
                        
                        

         /*  TESIMONIALS css */
         #container-testimonila{
          display: flex;
          margin-top: 80px;

         }

         .carousel-slide , .carousel-item img {
          width: 700px; 
          height: 300px; 
                                           }

        #container-testimonila .box{
          width: 650px; 
          height: 300px; 
           background-color: #523549;
           
        }
        #container-testimonila .box p{
          color: white;
          justify-content: center;
           align-items: center;
           margin-top: 100px;
           text-align:left;
           margin-left:60px;
           margin-bottom: 20px;
           margin-top: 70px;
           word-spacing: 4px;
        }
        #container-testimonila .box h6{
           margin-bottom: 2px;
           color: white;
           text-align:left;
           margin-left: 60px;
           margin-top: 30px;
           
        }

        .dotted-line {
          display: inline-block;
          display: flex;
          display: grid;
          margin-left: 170px;
          
        }
        .dot {
          width: 8px;
          height: 6px;
          background-color: rgb(200, 22, 22);
          border-radius: 100%;
          margin-right: 2px; 
          justify-content: left;
          margin-left: 10px;
          margin-top: 30px;
          
        }
      
       

        /* DOWNLOADS SECTION  CSS */
     
        #downlo p{
          /* display: flex !important; */
          /* margin-left:400px; */
          align-items: center  !important;
          justify-content: center !important;
          margin-top: 50px;
          word-spacing: 5px;
          font-weight: 100;
          display: flex;
        }

        #downlo h5{
          display: flex;
         
          align-items: center  !important;
          justify-content: center !important;
          font-size:8px;
          font-weight: 700;
          margin-top: 10px;
        
        }
        #downlo #btn{
          justify-content: right;
           
          margin-top: 10px;
          background-color: red;
         
          
          margin-top: 30px;
          border-radius: 2px;
        
        } 
                
              #btn{
          align-items: center;
        }

              /*  FOOTER SECTION CSS */
                .container-foter {
                  display:grid;
                  justify-content: space-between;
                  margin-top: 70px;
                    margin-left: 10px;
                    margin-right: 10px;
                  background-color: #353963 ;

                }
                
                .column {
                  flex: 1;
                  text-align: center;
                  padding: 20px;
              /*     /* background-color:#343551 ;  */
                  margin-top: 20px    ;
                }
                
                .column h6 {
                  color: #ebe1e1;
                }
                
                .column p {
                  color: #666;
                  font-size: 13px;
  
                }
                
                .icons {
                  display: flex;
                  justify-content: center;
                  
                }
                
                .icons img {
                  margin: 0 10px;
                  width: 28px;
                margin-top: 6px;
                background-color:white;
                border-radius: 3px;
                }
  
            
                .icons img:hover {
                    background-color: red;        
                        }
        .end{
          
              background-color:#343551 ; 
          margin-left: 10px;
          margin-right: 10px;
                        padding-top: 1px;
                        padding-bottom: 10px;
  
        }
        
                        .end p ,h6 {
                          color: #666;
                          font-size: 13px;
                          justify-content: center;
                          display: flex;
                      
                        }
                .end h6{
                  color: white;
  
                }
  
 /* Custom CSS for footer */
 .container-foter {
  padding: 20px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
}

.column {
  margin-bottom: 20px;
  flex: 2; 
  max-width: calc(33.33% - 20px); /
}

.column-expand-lg {
  flex-grow: 1; 
}


.end {
  text-align: center; 
  
}


@media (max-width: 767px) {
  .column {
    max-width: 100%; 
  }
}


@media (max-width: 575px) {
  .end {
    font-size: 12px; 
  }
}